# OS specific files and folders
.DS_Store

# Java specific files and folders
bin
target
doc
*.jar
.settings
.classpath

# Editor specific files and folders
*~
.project

# Project specific files and folders
*.mapfg
*.mapgr
*.path
*.tgz